<p>cockpit works!</p>
<div class="row">
    <div class="col-xs-12">
      <p>Add new Servers or blueprints!</p>
      <!-- doing it with the ngmodel is for two way binding but we can 
      swithch it to local references in this case -->
      <label>Server Name</label>
      <!-- <input type="text" class="form-control" [(ngModel)]="newServerName"> -->
      <input type="text"
       class="form-control" 
       #newServerNameInput>
      <label>Server Content</label>
      <input type="text" class="form-control" [(ngModel)]="newServerContent">
     
       
      <br>
      <button
        class="btn btn-primary"
        (click)="onAddServer(newServerNameInput)">Add Server</button>
      <button
        class="btn btn-primary"
        (click)="onAddBluePrint(newServerNameInput)">Add Server Blueprint</button>
    </div>
  </div>